<h1>New Game</h1>


<div class="container"><% @letters.each do |letter| %>
    <div class="letter-color">
     <%= letter %>
    </div>
    <% end  %>
</div>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%#= hidden_field_tag :grid, @letters %>
  <input id="tags_list" name="grid" type="hidden" value="<%= @letters %>" />
  <h2>What is the longest word you can find?</h2>
  <input type="text" name="name" placeholder="Put a word" class="info">
  <input type="submit" class="play" value="Play">
</form>

